.map-container {
    position: relative;
    width: auto;
    height: 800px;
    float: left;
}

#map {
    height: 100%;
    width: 100%;
}

#sidebar {
    width: 300px;
    height: auto;
    left: 0;
    margin: 10px;
    float: left;
}

table {
    text-align: center;
}

form {
    float: left;
}

form input[type=submit]{
    margin-left: 9px;
}

.field {
    clear: both;
    text-align: right;
    padding: 3px;
}

.content {
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 800px;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

label{
    float: left;
    padding-right: 2px;
}